
@{
    ViewBag.Title = "AddUserToRole";
}

<h2>Add User To Role</h2>
@using (Html.BeginForm())
{
    <p>Select User @Html.DropDownList("userId") <br /></p>
    <p>Select Role @Html.DropDownList("Role")</p>
    <br />
    <input type="submit" value="Add to the role" />
}
