@model Task_Managment_System.Models.ViewModel.ProjectDetailsViewModel

@{
    ViewBag.Title = "ProjectDetails";
}

<h2>ProjectDetails</h2>

<ul>
    @foreach(var item in Model.ProjectMembers)
            {
                <li>
                    @item.Email
                </li>
            }
</ul>