@model IEnumerable<Task_Managment_System.Models.Project>

@{
    ViewBag.Title = "ShowProjectsThatExceedTheBudget";
}

<h2>ShowProjectsThatExceedTheBudget</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @item.Name
        </li>
    }
</ul>