@model List<Task_Managment_System.Models.ApplicationUser>

<h2>Developers</h2>

<ul>
    @foreach (var developer in Model)
    {
            <li style="text-decoration: none">
                @developer.UserName
                @developer.Tasks.Count();
                @developer.Projects.Count();
            </li>
        }
    }
</ul>