@{
    ViewBag.Title = "Home Page";
}


<img class="home-Image" src="~/Content/Images/header.jpg" />

<div class="header-container">
    <div class="header">
        Task Management System
    </div>
</div>
<div class="sub-header">
    Welcome to your favorite Task Management System!
</div>


<div class="content-body">
    @Html.ActionLink("Projects", "ShowAllProjects", "ProjectManagers", new { }, new { @class = "btn btn-primary btn-block btn-lg" })
    @Html.ActionLink("Tasks", "GetAllDeveloperTasks", "Developers", new { }, new { @class = "btn btn-primary btn-block btn-lg" })
    @Html.Partial("~/Views/Notifications/Notification.cshtml", new ViewDataDictionary { { "userId", ViewBag.UserId },{ "className", "btn btn-primary btn-block btn-lg"} })
</div>




<style>

    .home-Image {
        position: absolute;
        top: 0px;
        bottom: 0px;
    }

    .header-container {
        position: absolute;
        width: 800px;
        top: 390px;
        left: 190px;
    }

    .header {
        text-align: center;
        font-size: 80px;
        color: #5DA2D5;
        text-shadow: 3px 2px #90ccf4;
        font-family: 'Bernard MT';
    }

    .sub-header {
        position: absolute;
        width: 800px; 
        left: 190px;
        text-align: center;
        top: 485px;
        font-size: 25px;
        font-family:'Century Gothic';
    }

    .content-body {
        position: absolute;
        width: 800px;
        top: 550px;
        left: 190px;
        font-size: 50px;
    }
</style>


